/* base.css */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.3rem;
    margin: 0.3rem 0.3vw;
}

/* Header styles */

h1 h2 {
    font-weight: 100;
}

header {
    background-color: #28a745b3;
    color: #000000;
    padding: 1rem 0.5rem;
}

header nav {
    background-color: #28a745b3;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0.5rem;
    color: #000000;
}

#hero-img {
    width: 100%;
}

/* Navigation styles */


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: none;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Hamburger menu styles */

/* change for ham open */
#myButton::before {
    content: "\2630";

}

#myButton {
    font-size: 2rem;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    width: 2.75rem;
    padding: 0.25rem 2vw;
    position: absolute;
    top: 2.7rem;
    right: 0.5rem;
}

#menuChamber {
    display: none;
}

/* change for ham open */
#menuChamber li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 3000px;
    margin: auto;
    text-align: center;
}

#menuChamber li a {
    text-decoration: none;
    color: #000000;
    padding: 1rem 2rem;
    transition: background-color 0.3s;
    display: block;
}

/* CSS for the open class */
#myButton.open::before {
    content: "X";
}

#menuChamber.open {
    display: block;
    cursor: pointer;
    font-size: 24px;
}

/* New rules to base.css */

#visit,
#demographics,
#education,
#economy,
#health {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Display each image in its own column */
    gap: 10px;
    /* Add gap between images */
}

#gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}


.image-container figure {
    position: relative;
    display: inline-block;
}

.picture-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* Form styles */

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    font-weight: bold;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
}

.wf1 input[type='text'],
.wf1 input[type='email'],
.wf1 input[type='tel'],
.wf1 textarea {
    display: block;
    padding: .75rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type='radio'] {

    margin-left: 60%;
    margin-right: 40%;
}

.wf1 input[type='submit'] {
    border-radius: 6px;
    border: none;
    background-color: rgba(0, 81, 255, 0.831);
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #ccc;
}

/* Footer styles */
footer {
    background-color: #28a745b3;
    color: #000000;
    text-align: center;
    margin: 0.3rem 0.3vw;
    padding: 1rem 0.5rem
}

footer #lastModified {
    color: #000000;
}

footer a {
    color: #000066;
}