/* Media query for larger screens */
@media screen and (min-width: 500px) {
    header {
        padding: 1rem;
    }

    #main-grid-index {
        display: grid;
        grid-template: auto 1fr 1fr / 1fr 1fr;
    }

    #main-grid {
        display: grid;
        grid-template: 0.1fr 1fr 1fr 1fr / 1fr 1fr;
    }

    #hero {
        grid-column: 1/3;
    }

    #hero-box {
        text-align: center;
        margin: auto;
        padding: 0.5rem;

    }

    #hero-img {
        height: auto;
    }

    #visit {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #demographics {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #education {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #calendar {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    #health {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    #gallery {
        grid-row: 1/6;
        grid-column: 2/3;
        text-align: center;
    }

    .picture-caption {
        font-size: 0.9rem;
    }

    #join {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #events {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #weather {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #spotlights {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    nav {
        display: block;
    }

    #myButton {
        /* The following code hides the hamburger menu for screens larger than 500px */
        display: none;
    }

    #menuChamber {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex: 1;
        max-width: 3000px;
        margin: auto;
    }

    #menuChamber li {
        flex: 1;
        text-align: center;
    }

    #menuChamber li a {
        text-decoration: none;
        color: #000000;
        padding: 1rem 2rem;
        transition: background-color 0.3s;
        display: block;
    }

    #menuChamber li a:hover {
        background-color: rgba(40, 167, 69, 1);
    }

    footer {
        padding: 1rem;
    }

    footer a {
        color: #000066;
    }

    .wf1 fieldset label input[type="radio"] {
        margin-top: 0%;
        margin-left: 40%;
        margin-right: 60%;
    }

    #membership-benefits {
        border: 1px solid #ccc;
        padding: 1rem;
        background-color: #f9f9f9;
    }

    #membership-benefits ul {
        list-style: none;
        padding: 0;
    }

    #membership-benefits ul li {
        margin-bottom: 1rem;
    }
}