    @media screen and (max-width: 498px) {
        * {
            /* CSS reset */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* border: solid green; */
        }

        body {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }

        h1 h2 {
            font-weight: 100;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 0.1rem;
            margin: 0.3rem 0.3vw;
        }

        /* change for ham open */
        #myButton::before {
            content: "\2630";
        }

        #myButton {
            font-size: 2rem;
            background: none;
            border: none;
            color: #ffffff;
            cursor: pointer;
            width: 2.75rem;
            text-align: left;
            padding: 0.25rem 2vw;
            position: absolute;
            top: 2.5rem;
            right: 2vw;

        }

        /* change for ham close */

        #menu {
            display: none;
            /* list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 3000px;
            margin: auto; */
        }

        /* change for ham open */
        #menu li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 3000px;
            margin: auto;


            /* flex: 1; */
            text-align: center;
        }

        /* change for ham close */

        #menu li a {
            text-decoration: none;
            color: white;
            padding: 1rem 2rem;
            transition: background-color 0.3s;
            display: block;
        }

        #menu li a:hover {
            background-color: #21a760;
            /* background-color: rgba(255, 255, 255, 0.2); */
        }

        #menu li:first-child a {
            background-color: brown;
        }


        nav #menu .active {
            background-color: rgba(0, 0, 0, 0.3);
        }


        /* change for ham open */

        /* CSS for the open class */
        #myButton.open::before {
            content: "X";
        }

        #menu.open {
            display: block;
        }

        /* change for ham close */
        header {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            /* margin-top: 0.1rem; */
            /* padding-bottom: 1rem; */
            padding: 0.5rem;
            background-color: rgba(10, 50, 80, 0.9);
            color: white;
            font-size: 2rem;
            margin: 0.3rem 0.3vw;
        }

        header img {
            /* Margin between img and span */
            margin-right: 1rem;

            /* box-shadow: 10px 10px rgba(0, 0, 0, 0.3); */
        }

        .parent {
            margin: 1rem 2vw;
        }

        .parent section {
            margin: 1rem 0;
            border: 1px solid rgba(0, 0, 0, 0.3);
            overflow: hidden;
        }

        .parent h2 {
            /* margin: 0.75rem 0; */
            background-color: rgba(10, 50, 80, 0.9);
            color: white;
            display: block;
            text-align: center;
            padding: 0.75rem 0;
        }

        #weather,
        #visits {
            display: block;
            text-align: center;
        }

        .parent ul {
            padding: 20px;

            /* Remove bullets */
            list-style-type: none;
        }

        footer {
            background-color: rgba(10, 50, 80, 0.9);
            color: white;
            text-align: center;
            margin: 0.3rem 0.3vw;
        }

        footer #lastModified {
            color: yellow;
        }

        #darkBtn {
            position: absolute;
            top: 0.5rem;
            right: 1vw;
            width: 24px;
            cursor: pointer;
            background-color: #fff;
            border: none;
        }

        /* Adding styles for dark mode */
        .dark-mode {
            background: rgba(0, 0, 0, 0.9);
            color: #fff;
        }

        main h1 {
            font-size: 1rem;
            text-align: center;
            padding-top: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }