@media screen and (min-width: 499px) {
    * {
        /* CSS reset */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: solid green; */
    }

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    h1 h2 {
        font-weight: 100;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 0.1rem;
        margin: 0.3rem 0.3vw;
    }

    /* change for ham open */

    #myButton {
        display: none;
    }

    /* change for ham close */

    #menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex: 1;
        max-width: 3000px;
        margin: auto;
    }

    #menu li {
        flex: 1;
        text-align: center;
    }

    #menu li a {
        text-decoration: none;
        color: white;
        padding: 1rem 2rem;
        transition: background-color 0.3s;
        display: block;
    }

    #menu li a:hover {
        background-color: #21a760;
        /* background-color: rgba(255, 255, 255, 0.2); */
    }

    #menu li:first-child a {
        background-color: brown;
    }


    nav .active {
        background-color: rgba(0, 0, 0, 0.3);
    }


    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        background-color: rgba(10, 50, 80, 0.9);
        color: white;
        font-size: 2rem;
        margin: 0.3rem 0.3vw;
    }

    header img {
        /* Margin between img and span */
        margin-right: 1rem;

        box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    }

    .parent {
        /* margin: 1rem 2vw; */
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .card {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    }

    .parent section {
        margin: 1rem 0;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .parent h2 {
        /* margin: 0.75rem 0; */
        background-color: rgba(10, 50, 80, 0.9);
        color: white;
        display: block;
        text-align: center;
        padding: 0.75rem 0;
    }

    #weather,
    #visits {
        display: block;
        text-align: center;
    }

    .parent ul {
        padding: 20px;

        /* Remove bullets */
        list-style-type: none;
    }

    footer {
        background-color: rgba(10, 50, 80, 0.9);
        color: white;
        text-align: center;
        margin: 0.3rem 0.3vw;
    }

    footer #lastModified {
        color: yellow;
    }

    #darkBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 24px;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }

    /* Adding styles for dark mode */
    .dark-mode {
        background: #121212;
        color: #ffffff;
    }

    .dark-mode a {
        color: #4ca7e1;
        /* Light blue link color */
    }

    main {
        /* margin: center; */
        padding: 4rem;
    }

    main h1 {
        font-size: 2rem;
        text-align: left;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}